$bg-color: #f7f7f7;
$font-color: #2b3238;
$main-color: #f74a17;
$footer-color: #d6dced;
$font-family: "Varela Round", sens-serif;

*,
*:hover {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-color;
  color: $font-color;
  font-family: "Varela Round", sans-serif;
}

.container {
  margin: 1rem 1rem;
  & header {
    text-align: left;
    font-size: 100%;
    margin-bottom: 1rem;
    margin-left: 11.5%;
  }
  & footer {
    display: block;
    & p {
      margin-top: 50px;
      margin-bottom: 10px;
      text-align: center;
      & a {
        color: var(--main-color);
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

/* footer section */
