@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Kanit&family=Open+Sans:wght@300&family=Varela+Round&display=swap");
*,
*:hover {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f7f7f7;
  color: #2b3238;
  font-family: "Varela Round", sans-serif;
}

.container {
  margin: 1rem 1rem;
}

.container header {
  text-align: left;
  font-size: 100%;
  margin-bottom: 1rem;
  margin-left: 11.5%;
}

.container footer {
  display: block;
}

.container footer p {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.container footer p a {
  color: var(--main-color);
}

.container footer p a:hover {
  text-decoration: none;
}

/* footer section */
main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .content .info-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90%;
      grid-template-columns: 90%;
}

main .content .info-section .contact-info h1,
main .content .info-section .shipping-address h1 {
  font-size: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

main .content .info-section .contact-info label,
main .content .info-section .shipping-address label {
  font-size: 70%;
  padding: 0.9rem 0rem;
}

main .content .info-section .contact-info .input-field,
main .content .info-section .shipping-address .input-field {
  border: 2px solid #2b3238;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  margin: 0.2rem 0 1rem 0;
  width: 100%;
}

main .content .info-section .contact-info .input-field i,
main .content .info-section .shipping-address .input-field i {
  margin: 0.1rem 0.5rem;
}

main .content .info-section .contact-info .input-field input,
main .content .info-section .shipping-address .input-field input {
  border: none;
  width: 100%;
  outline: none;
  font-family: "Varela Round", sens-serif;
  background-color: transparent;
}

main .content .info-section .contact-info .codeCantry,
main .content .info-section .shipping-address .codeCantry {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin: 1rem 0;
}

main .content .info-section .contact-info .codeCantry div .code,
main .content .info-section .shipping-address .codeCantry div .code {
  border: 2px solid #2b3238;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem;
  margin: 0.2rem 0.5rem 1rem 0;
  width: 100%;
}

main .content .info-section .contact-info .codeCantry div .code i,
main .content .info-section .shipping-address .codeCantry div .code i {
  margin: 0.1rem 0.5rem;
}

main .content .info-section .contact-info .codeCantry div .code input,
main .content .info-section .shipping-address .codeCantry div .code input {
  border: none;
  width: 50%;
  background-color: transparent;
  outline: none;
  font-family: "Varela Round", sens-serif;
}

main .content .info-section .contact-info .checkbox,
main .content .info-section .shipping-address .checkbox {
  padding: 0.2rem;
  margin: 0.2rem 0 1rem 0;
  width: 100%;
  font-weight: 400;
  font-size: 150%;
}

main .content .info-section .contact-info .checkbox input,
main .content .info-section .shipping-address .checkbox input {
  padding: 50px;
}

main .content .info-section .btn {
  margin-left: auto;
  padding: 1rem 0;
}

main .content .info-section .btn button {
  outline: none;
  background: #f74a17;
  color: #f7f7f7;
  border: none;
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.8rem 2.5rem;
  position: relative;
}

.item-section {
  background: #d6dced;
  border-radius: 10px;
  padding: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.item-section .items {
  margin: 0;
}

.item-section .items .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin: 2rem 0;
}

.item-section .items .item img {
  height: 140px;
  border-radius: 10px;
}

.item-section .items .item .item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  margin-left: 1rem;
}

.item-section .items .item .item-details .price {
  color: #f74a17;
  font-size: 90%;
}

.item-section .items .item .item-details .price span {
  color: #2b3238;
}

.item-section .items .item .item-details .item-number {
  color: #2b3238;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 2px solid #2b3238;
  padding: 0.5rem 1rem;
  margin: 0 2rem 0 0;
  border-radius: 15px;
}

.item-section .items .item .item-details .item-number .material-icons {
  padding: 1px;
  border-radius: 6px;
  color: #f74a17;
}

.item-section .price-items {
  margin-top: 5rem;
}

.item-section .price-items hr {
  margin: 0.8rem 0;
}

.item-section .price-items .shipping,
.item-section .price-items .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 700px) {
  .container {
    margin: 1rem 1rem;
  }
  .container main .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container main .content .info-section {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .container main .content .item-section {
    width: auto;
  }
  .container main .content .item-section .items .item img {
    height: 100px;
  }
  .container main .content .item-section .items .item .item-details {
    font-size: 80%;
  }
  .container header {
    text-align: left;
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */